.movies-card {
  display: flex;
  flex-direction: column;
}

.movies-card__link {
  display: flex;
  justify-content: center;
  background-color: #222;
  width: 300px;
}

.movies-card__poster {
  max-width: 300px;
  max-height: 168px;
  object-fit: cover;
}

.movies-card__description {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}

.movies-card__title {
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  padding: 0 2px;
  margin: 0;
}

.movies-card__like {
  background-color: #313131;
  width: 24px;
  height: 24px;
  border-radius: 25px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
}

.movies-card__like:hover {
  cursor: pointer;
  opacity: 0.6;
}

.movies-card__like_save {
  background-image: url('../../images/heart.svg');
}

.movies-card__like_active {
  background-image: url('../../images/heart-red.svg');
}

.movies-card__underline {
  color: #AAAAAA;
  opacity: 0.2;
  width: 100%;
  padding: 0;
  margin: 24px 0 6px;
}

.movies-card__duration {
  color: #8B8B8B;
  font-size: 10px;
  line-height: 12px;
  margin: 0 0 34px;
}

@media (min-width: 750px) {
  .movies-card__link {
    width: 339px;
  }

  .movies-card__poster {
    max-width: 339px;
    max-height: 190px;
  }

  .movies-card__description {
    margin-top: 11px;
  }

  .movies-card__title {
    font-size: 13px;
    line-height: 16px;
  }

  .movies-card__duration {
    font-size: 11px;
    line-height: 13px;
    margin: 0;
  }
}

@media (min-width: 800px) {
  .movies-card__poster {
    max-width: 300px;
    max-height: 151px;
  }
}

@media (min-width: 1190px) {
  .movies-card__link {
    width: 270px;
  }

  .movies-card__poster {
    max-width: 270px;
    max-height: 151px;
  }
  
  .movies-card__description {
    margin-top: 10px;
  }

  .movies-card__duration {
    margin: 0 0 18px 0;
  }
}
