.login {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

@media (min-width: 660px) {
  .login {
    padding: 0 186px;
  }
}

@media (min-width: 1200px) {
  .login {
    padding: 0 442px;
  }
}